<!DOCTYPE html> 
<html> 
<head> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
<title>Georeference - Feature Only</title> 
<link href="http://code.google.com/apis/maps/documentation/javascript/examples/standard.css" rel="stylesheet" type="text/css" /> 
<link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
<style>
#bg {
  font-family: 'Gruppo', serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  color: grey;
  line-height: 1.2;
}

#button {
    position:fixed;
    top:31px;
}

</style>
</head> 
<body style="font: 75% Lucida Grande, Trebuchet MS"> 
    <div id='bg'>Bulkloader</div> 
</body> 
</html> 